# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\politechnika - studia inżynierskie zaoczne\semestr 1\oprogramowanie użytkowe\projekt1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
